.danger {
    background: red;
    color: #fff;
    width: 200px;
}

.primary{
    background: blue;
    color: #fff;
    width: 200px;
}
.warning{
    background: yellow;
    color: #fff;
    width: 200px;
}
.success{
    background: green;
    color: #fff;
    width: 200px;
}

